.button {
  height: 48px;
  width: 92px;
  margin-left: 5px;
  border: none;
  background-color: #fbc02d;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #e0aa23;
}
