.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.githubLink {
  text-decoration: none;
  color: #396396;
}

.githubLink:hover {
  color: #2b4d75;
}
